# Output
dist/
tmp/
out-tsc/
.angular/
coverage/

# Node
node_modules/
npm-debug.log
yarn-error.log

# System
.DS_Store

# Env
.env
.env.*

# IDEs
.idea/
.vscode/
.history/

# Misc
.sass-cache/
connect.lock
testem.log
typings
